.menu{
  background:black;
  margin:0px;
  overflow:hidden;
  
  top:0px;
}

.menu a{
  font:menu;
  text-decoration: none;
  font-size: 18px;
  letter-spacing:1px;
  box-sizing:border-box;
  float:center;
  display:inline-block;
  color:#f2f2f2;
  padding:16px 16px;
  
  
} 
.menu a:hover{
  background-color: #67FB45;
  color:black;
}
 
h2{
 text-align:center ;
}
body{
  background-color: #757575;
}
h3{
  text-align:center;
  margin:auto;
}